/* Font Import */
@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("./fonts/static/SofiaSansCondensed-Regular.ttf") format("woff2");
}
/* General Styles */
* {
  margin: 0;
  color: #000;
  font-size: 18px;
  font-family: "Sofia Sans Condensed";
}
img {
  width: 50px;
}
a {
  text-decoration: none;
}
/* Buttons */
.contact-btns {
  display: block;
  text-align: center;
  width: 150px;
  background-color: #ff2c9c;
  padding: 15px 30px;
  color: #fff;
  border: 2px solid black;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 600;

  box-shadow: 0 2px 2px black;
}
.contact-btns:hover {
  background-color: #fc70bb;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* HEADER */
header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #09375ac8;
}
/* Logo */
header #Logo {
  margin: 5px 0;
  height: 40px;
  width: auto;
}
/* Nav Bar */
header nav {
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: right;
  margin-right: 10px;
}
header nav ul li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 5px;
}
header nav ul li a {
  padding-left: 5px;
  border-left: 2px solid #ff2c9c;
  font-weight: 400;
  color: #fff;
}
header nav ul li a:hover {
  color: #007a7b;
}
/*SECTIONS */
.sections {
  height: 600px;
  padding-top: 100px;
}

/* Home Section */
#section-home {
  background-image: url("./images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#container-home {
  width: 300px;
  margin: 0 auto;
}
#container-home p {
  text-align: left;
  font-size: 25px;
  color: #93d1df;
  font-weight: 800;
}
#profile-img {
  width: 300px;
  border-radius: 50%;
  border: 5px double black;
  margin-bottom: 50px;
}
#container-home p {
  display: inline-block;
  margin-bottom: 25px;
}
#container-home span {
  display: inline-block;
  font-size: 25px;
  color: #007a7b;
  font-weight: bold;
}

/* About Section */
#section-about {
  background-color: #fff;
  background-image: url(./images/html-img.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#section-about #container-about {
  background-color: #000000b7;
  margin: -50px auto;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  width: 300px;
  height: 500px;
  font-size: 25px;
  font-weight: 500;
}

#section-about #container-about h1 {
  color: #ff2c9c;
  text-transform: uppercase;
  font-size: 25px;
  margin: 10px 0 10px;
}

#section-about .contact-btns {
  margin: 75px auto;
}

#section-about .name {
  font-size: 22px;
  color: #ff2c9c;
  text-transform: uppercase;
}
/* Skills Section */
#section-skills {
  background-color: #a8354f;
}

/* Contact Section */
#section-contact {
  background-color: #00a0c7;
}
footer {
  background-color: #007a7b;
}
