/* Font Import */
@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("./fonts/static/SofiaSansCondensed-Regular.ttf") format("woff2");
}
/* GENERAL STYLES */
* {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-family: "Sofia Sans Condensed";
}
img {
  width: 50px;
}
a {
  text-decoration: none;
}
/* Span for Name */
.name {
  font-size: 40px;
  color: #fff;
}
/* Buttons */
.contact-btns {
  display: block;
  text-align: center;
  width: 250px;
  background-color: #fff;
  padding: 15px 30px;
  color: #000;
  border: 2px solid black;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}
.contact-btns:hover {
  background-color: lightgrey;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* HEADER */
header {
  position: relative;
  z-index: 1;
}
#header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle, #025153, #000);
  opacity: 90%;
  box-shadow: 0px 5px 5px #0c0c0c;
}
/* Logo */
#header #Logo {
  margin: 10px 20px;
  height: 50px;
  width: auto;
}
/* Nav Bar */
#header nav {
  display: inline-block;
  position: absolute;
  right: 50px;
  line-height: 70px;
}
#header nav ul li {
  list-style: none;
  display: inline;
  margin-left: 10px;
}
#header nav ul li a {
  font-size: 22px;
  color: #fff;
}
#header nav ul li a:hover {
  color: #0eaf63;
}
/*SECTIONS */
.sections {
  height: 880px;
  padding-top: 100px;
}

/* Home Section */
#section-home {
  background: radial-gradient(circle, #038285, #000);
  position: relative;
}
#container-home {
  width: 600px;
  position: absolute;
  top: 250px;
  left: 250px;
}
.heading {
  font-size: 60px;
  font-weight: 800;
  color: #000;
}
#container-home .heading span {
  font-size: 60px;
}
.description {
  font-size: 30px;
  font-weight: 500;
  color: #000;
}
#container-home .description span {
  font-size: 30px;
}
.highlighted-text {
  font-size: 40px;
  color: #0eaf63;
}
#container-home a {
  margin-top: 100px;
}

#profile-img {
  width: 500px;
  border-bottom-left-radius: 50%;
  border: 8px solid #000;
  position: absolute;
  top: 250px;
  right: 250px;
  box-shadow: 1px 5px 20px#000;
}
#container-home p {
  margin-bottom: 25px;
}
#container-home .contact-btns {
  border: none;
}

/* About Section */
#section-about {
  position: relative;
}
#container-about {
  width: 600px;
  position: absolute;
  top: 250px;
  right: 250px;
}
#container-about .heading {
  margin-top: 20px;
}
#section-about a {
  margin-top: 30px;
}

/* img */
#image-fun-container {
  position: absolute;
  top: 250px;
  left: 250px;
}
#image-fun {
  width: 500px;
  height: auto;
  border: 5px solid #000;
}

/* Skills Section */
#section-skills {
  background-color: #000;
  position: relative;
}
#section-skills img {
  width: 600px;
}
#section-skills .heading,
#section-skills .description {
  color: #fff;
}
#section-skills .description {
  font-size: 50px;
  list-style: none;
  padding: 10px;
}
#section-skills ul {
  padding-left: 0px;
  margin-top: 45px;
}
#section-skills #container-skills {
  position: absolute;
  top: 250px;
  left: 250px;
}
#section-skills #img-skills {
  position: absolute;
  top: 250px;
  right: 250px;
}

/* Contact Section */
#section-contact {
  position: relative;
}
.image-link {
  width: 100px;
}

#container-contactInfo {
  width: 600px;
  position: absolute;
  top: 350px;
  right: 250px;
}
#container-contactInfo p {
  margin-bottom: 50px;
}

#container-contact {
  padding-left: 30px;
  position: absolute;
  top: 200px;
  left: 350px;
  border-left: 5px solid black;
}
#container-contact a {
  width: 400px;
  display: block;
  height: 150px;
  position: relative;
}

#container-contact .text-SocialMedia {
  display: inline;
  color: #000;
  font-size: 50px;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#container-contact .text-SocialMedia:hover {
  color: #0eaf63;
}

#container-contact a img {
  height: 150px;
  width: 150px;
}

/* FOOTER */
footer {
  background-color: #bebebe;
  position: relative;
}
footer .address {
  margin: 0px auto;
  text-align: center;
  padding: 50px;
}
footer .image-link {
  width: 50px;
  margin: 30px;
  filter: grayscale(70%);
}

/* RESPONSIVE DESIGN */
@media (max-width: 1630px) {
  /* HOME SECTION */
  #container-home {
    left: 100px;
  }
  #profile-img {
    right: 100px;
  }
  /* ABOUT SECTION */

  #container-about {
    right: 50px;
  }
  #image-fun-container {
    left: 100px;
  }

  /* SKILLS SECTION */
  #section-skills #container-skills {
    left: 100px;
  }
  #section-skills #img-skills {
    right: 100px;
  }

  /* CONTACT SECTION */
  #section-contact #container-contactInfo {
    right: 100px;
  }
  #section-contact #container-contact {
    left: 100px;
  }
}
@media (max-width: 1320px) {
  /* HOME SECTION */
  #container-home {
    left: 10px;
  }
  #profile-img {
    right: 10px;
  }
  /* ABOUT SECTION */

  #container-about {
    right: 5px;
  }
  #image-fun-container {
    left: 10px;
  }

  /* SKILLS SECTION */
  #section-skills #container-skills {
    left: 10px;
  }
  #section-skills #img-skills {
    right: 10px;
  }

  /* CONTACT SECTION */
  #section-contact #container-contactInfo {
    right: 10px;
  }
  #section-contact #container-contact {
    left: 10px;
  }
}

@media (max-width: 1150px) {
  /* HOME SECTION */
  #container-home {
    top: 120px;
    left: 50px;
    width: 300px;
  }
  #profile-img {
    right: 20px;
    width: -20%;
  }
  /* ABOUT SECTION */

  #container-about {
    top: 120px;
    right: 45px;
    width: 300px;
  }
  #image-fun-container {
    left: 50px;
  }

  /* SKILLS SECTION */
  #section-skills #container-skills {
    left: 50px;
    top: 120px;
    width: 300px;
  }
  #section-skills #img-skills {
    right: 50px;
  }

  /* CONTACT SECTION */
  #section-contact #container-contactInfo {
    top: 280px;
    right: 50px;
    width: 300px;
  }
  #section-contact #container-contact {
    left: 50px;
  }
}
@media (max-width: 930px) {
  /* HEADER */
  #header {
    height: 50px;
  }
  /* Logo */
  #header #Logo {
    height: 30px;
  }
  /* Nav Bar */
  #header nav {
    line-height: 50px;
  }
  #header nav ul li a {
    font-size: 18px;
  }
  /* HOME SECTION */
  .sections {
    height: 1500px;
    padding-top: 100px;
  }
  #section-home {
    height: 1150px;
    text-align: center;
  }
  .contact-btns {
    margin: 100px auto;
  }
  #container-home {
    width: 380px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #profile-img {
    width: 380px;
    border-bottom-left-radius: 0px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* ABOUT SECTION */

  #container-about {
    text-align: center;
    width: 380px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #image-fun-container {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #image-fun-container #image-fun {
    width: 380px;
  }

  /* SKILLS SECTION */
  #section-skills #container-skills {
    text-align: center;
    width: 380px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #section-skills #img-skills {
    width: 400px;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  /* CONTACT SECTION */
  #section-contact #container-contactInfo {
    text-align: center;
    width: 380px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #section-contact #container-contact {
    width: 380px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 480px) {
  .contact-btns {
    width: 200px;
    font-size: 20px;
  }
  /* FONT SIZE */
  .name {
    font-size: 20px;
  }
  .heading {
    font-size: 30px;
  }
  #container-home .heading span {
    font-size: 30px;
  }
  .highlighted-text {
    font-size: 35px;
  }
  /* HOME SECTION */
  .sections {
    height: 1300px;
  }
  #section-home {
    height: 1150px;
    text-align: center;
  }
  .contact-btns {
    margin: 100px auto;
  }
  #container-home {
    width: 280px;
    top: 70%;
  }
  #profile-img {
    width: 280px;
    border-bottom-left-radius: 0px;
    top: 25%;
  }
  /* ABOUT SECTION */

  #container-about {
    text-align: center;
    width: 280px;
    top: 35%;
  }
  #image-fun-container {
    top: 75%;
  }
  #image-fun-container #image-fun {
    margin-top: 100px;
    margin-left: 15px;
    width: 280px;
  }

  /* SKILLS SECTION */
  #section-skills {
    height: 1100px;
  }
  #section-skills .heading {
    font-size: 50px;
  }
  #section-skills #container-skills {
    text-align: center;
    width: 280px;
    top: 35%;
  }
  #section-skills #img-skills {
    width: 300px;
    top: 80%;
  }

  /* CONTACT SECTION */
  #section-contact {
    height: 1000px;
  }
  #section-contact #container-contactInfo {
    text-align: center;
    width: 280px;
    top: 35%;
  }
  #section-contact #container-contact {
    width: 280px;
    top: 75%;
  }
  #section-contact #container-contact a {
    height: 80px;
    width: 200px;
  }
  #section-contact #container-contact a img {
    width: 80px;
    height: 80px;
  }
  #section-contact #container-contact a p {
    padding-left: 20px;
    font-size: 40px;
    line-height: 60px;
  }
}
