/* Font Import */
@font-face {
  font-family: "Sofia Sans Condensed";
  src: url("../fonts/static/SofiaSansCondensed-Regular.ttf") format("woff2");
}
/* GENERAL STYLES */
* {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-family: "Sofia Sans Condensed";
}
img {
  width: 50px;
}
a {
  text-decoration: none;
}
/* Span for Name */
.name {
  font-size: 2rem;
  color: #fff;
}
/* Buttons */
.contact-btns {
  display: block;
  text-align: center;
  width: 25vw;
  background-color: #fff;
  padding: 1rem 2rem;
  color: #000;
  border: 0.15rem solid black;
  border-radius: 1.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.contact-btns:hover {
  background-color: lightgrey;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* HEADER */
#header {
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle, #025153, #000);
  opacity: 90%;
  box-shadow: 0 0.3rem 0.3rem #0c0c0c;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Logo */
#header #Logo {
  margin-left: 1vw;
  height: auto;
  width: 12vw;
}
/* Nav Bar */
#header nav ul {
  list-style: none;
  display: flex;
  margin-right: 3vw;
  padding: 0;
  gap: 2vw;
}
#header nav ul li a {
  font-size: 1.2rem;
  color: #fff;
}
#header nav ul li a:hover {
  color: #0eaf63;
}

/*SECTIONS */
.sections {
  height: 95vh;
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Home Section */
#section-home {
  background: radial-gradient(circle, #038285, #000);
}
#container-home {
  width: 30vw;
}
.heading {
  font-size: 2.2rem;
  font-weight: 800;
  color: #000;
}
#container-home .heading span {
  font-size: 2.2rem;
  position: relative;
  left: -100%;
  animation: slideRight 2.5s forwards;
}
.description {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
}
#container-home .description span {
  font-size: 1.5rem;
}
.highlighted-text {
  font-size: 2.2rem;
  color: #0eaf63;
  position: relative;
  left: -100%;
  animation: slideRight 3s forwards;
}
/* ANIMATION */
@keyframes slideRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
#container-home a {
  margin-top: 7.5vh;
}

#profile-img {
  width: 30vw;
  border-bottom-left-radius: 50%;
  border: 0.4rem solid #000;
  box-shadow: 0.1rem 0.3rem 1rem#000;
}
#container-home p {
  margin-bottom: 1.2rem;
}
#container-home .contact-btns {
  border: none;
}

/* About Section */
#container-about {
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#container-about a {
  margin-top: 0.6rem;
}

/* img */
#image-fun {
  width: 30vw;
  height: auto;
  border: 0.3rem solid #000;
}

/* Skills Section */
#section-skills {
  background-color: #000;
}
#section-skills img {
  width: 30vw;
}
#section-skills .heading,
#section-skills .description {
  color: #fff;
}
#section-skills .description {
  font-size: 2.5rem;
  list-style: none;
  padding: 0.6rem;
}
#section-skills ul {
  padding-left: 0px;
  margin-top: 2rem;
}

/* Contact Section */
.image-link {
  width: 5vw;
}

#container-contactInfo {
  width: 30vw;
}
#container-contactInfo p {
  margin-bottom: 2.5rem;
}

#container-contact {
  padding-left: 1.8rem;
  border-left: 0.3rem solid black;
  width: 30vw;
  display: flex;
  flex-direction: column;
}
#container-contact a {
  height: 125px;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#container-contact .text-SocialMedia {
  display: inline;
  color: #000;
  font-size: 2.5rem;
}
#container-contact .text-SocialMedia:hover {
  color: #0eaf63;
}

#container-contact a img {
  height: 5rem;
  width: 5rem;
}

/* FOOTER */
footer {
  background-color: #bebebe;
}
footer .address {
  padding: 5vh 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer .image-link {
  width: 2.5rem;
  filter: grayscale(70%);
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .contact-btns {
    width: 50vw;
    margin-top: 0px;
  }
  #container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #container-home a {
    margin-top: 0;
  }
  #header #Logo {
    width: 20vw;
  }
  /*SECTIONS */
  .sections {
    height: 90vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 5vh;
  }

  /* Adjusting values in section-home */
  #container-home {
    width: 80vw;
  }
  #profile-img {
    width: 60vw;
    border-bottom-left-radius: 0;
  }

  /* Adjustinng values in section-about */
  #container-about {
    width: auto;
    height: 50vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* img */
  #image-fun {
    width: auto;
    height: 30vh;
  }
  #container-about .heading {
    font-size: 2rem;
  }

  /*styling section-skills */
  .sections + #section-skills {
    flex-direction: column;
  }
  #section-skills #img-skills {
    width: auto;
    height: 35vh;
  }

  /* Contact Section */
  .sections + #section-contact {
    flex-direction: column;
  }
  #container-contactInfo {
    width: auto;
  }
  #container-contact {
    height: 50vh;
    width: 85vw;
  }
  #container-contact a {
    height: 8rem;
    gap: 0.8rem;
  }
}
